# macOS
.DS_Store

# Emacs
*~
\#*\#

# Obsidian.md
.obsidian/*
!.obsidian/README.md

# Massive Wiki Builder
.massivewikibuilder/output/*
# nxc version
.nxc/output/*
.nxc/*output/*

# Node
node_modules

# Local Netlify folder
.netlify
.vercel
