# macOS
.DS_Store

# Emacs
*~
\#*\#

# Obsidian.md
.obsidian/*
!.obsidian/README.md

# Massive Wiki Builder
.massivewikibuilder/output/*
# nxc version
.nxc/output/*
.nxc/*output/*

# Node
node_modules

# Local Netlify folder
.netlify

# local Vercel files
.vercel
miniforge.sh
# baseline gitignore for MARKPUB
# for Obsidian.md vaults
.obsidian/*

# Python
__pycache__
venv

# Node
node_modules

# MARKPUB
.markpub/output/*

